[submodule "vendor/github.com/huacnlee/train"]
	path = vendor/github.com/huacnlee/train
    url=git@github.com:WingGao/train.git
[submodule "vendor/github.com/revel/revel"]
	path = vendor/github.com/revel/revel
	url = git@github.com:revel/revel.git
